* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url('./images/background.png');
  color: beige;
  display: flex;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
}

header {
  font-size: 3.3rem;
  padding: 90px;
}

.h1 {
  background-color: rgb(18, 18, 18);
  border: 2px solid rgb(145, 145, 145);
  border-radius: 6px;
  font-size: 2.3rem;
  margin: 50px;
}

.h2 {
  border-bottom: 2px solid rgb(145, 145, 145);
  border-radius: 6px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

img {
  transition: all 1.5s;
  width: 150px;
}

img:hover {
  transform: scale(1.3);
}

.Planet {
  display: inline-block;
  margin: 10px auto 13px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 13px;
}

.gallery_card {
  align-items: center;
  background-color: rgb(18, 18, 18);
  border-radius: 15px;
  box-shadow: 2px 3px rgba(237, 237, 237, 0.5);
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 240px;
}
